# Olist dataset - e-commerce

### Importando bibliotecas
#### *Importing libraries*

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy
import sklearn
import datetime as dt

df_olist=pd.read_csv('./datasets/olist_public_dataset_v2.csv')
df_olist_pay=pd.read_csv('./datasets/olist_public_dataset_v2_payments.csv')

###  1. Combinando datasets e corrigindo t√≠tulos de colunas
#### 1. *Combining datasets and correcting columns titles*

In [2]:
df_olist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       100000 non-null  object
 1   order_status                   100000 non-null  object
 2   order_products_value           100000 non-null  float64
 3   order_freight_value            100000 non-null  float64
 4   order_items_qty                100000 non-null  int64
 5   order_sellers_qty              100000 non-null  int64
 6   order_purchase_timestamp       100000 non-null  object
 7   order_aproved_at               99982 non-null   object
 8   order_estimated_delivery_date  100000 non-null  object
 9   order_delivered_customer_date  97595 non-null   object
 10  customer_id                    100000 non-null  object
 11  customer_city                  100000 non-null  object
 12  customer_state                 100000 non-null  object
 13  customer_zip_code_prefix       100000 non-null  int64
 14  product_category_name          100000 non-null  object
 15  product_name_lenght            100000 non-null  int64
 16  product_description_lenght     100000 non-null  int64
 17  product_photos_qty             100000 non-null  int64
 18  product_id                     100000 non-null  object
 19  review_id                      100000 non-null  object
 20  review_score                   100000 non-null  int64
 21  review_comment_title           8262 non-null    object
 22  review_comment_message         42489 non-null   object
 23  review_creation_date           100000 non-null  object
 24  review_answer_timestamp        100000 non-null  object
dtypes: float64(2), int64(7), object(16)
memory usage: 19.1+ MB

In [3]:
df_olist.columns

Index(['order_id', 'order_status', 'order_products_value',
       'order_freight_value', 'order_items_qty', 'order_sellers_qty',
       'order_purchase_timestamp', 'order_aproved_at',
       'order_estimated_delivery_date', 'order_delivered_customer_date',
       'customer_id', 'customer_city', 'customer_state',
       'customer_zip_code_prefix', 'product_category_name',
       'product_name_lenght', 'product_description_lenght',
       'product_photos_qty', 'product_id', 'review_id', 'review_score',
       'review_comment_title', 'review_comment_message',
       'review_creation_date', 'review_answer_timestamp'],
      dtype='object')

In [4]:
df_olist['order_purchase_timestamp'] = pd.to_datetime(df_olist['order_purchase_timestamp'])
df_olist['order_aproved_at'] = pd.to_datetime(df_olist['order_aproved_at'])
df_olist['order_estimated_delivery_date'] = pd.to_datetime(df_olist['order_estimated_delivery_date'])
df_olist['order_delivered_customer_date'] = pd.to_datetime(df_olist['order_delivered_customer_date'])
df_olist['review_creation_date'] = pd.to_datetime(df_olist['review_creation_date'])

df_olist['review_answer_timestamp'] = pd.to_datetime(df_olist['review_answer_timestamp'])

In [5]:
df_olist.rename(columns= {'order_aproved_at': 'order_approved_at','product_name_lenght': 'product_name_length', 'product_description_lenght':'product_description_length'}, inplace = True)

In [6]:
df_olist.columns

Index(['order_id', 'order_status', 'order_products_value',
       'order_freight_value', 'order_items_qty', 'order_sellers_qty',
       'order_purchase_timestamp', 'order_approved_at',
       'order_estimated_delivery_date', 'order_delivered_customer_date',
       'customer_id', 'customer_city', 'customer_state',
       'customer_zip_code_prefix', 'product_category_name',
       'product_name_length', 'product_description_length',
       'product_photos_qty', 'product_id', 'review_id', 'review_score',
       'review_comment_title', 'review_comment_message',
       'review_creation_date', 'review_answer_timestamp'],
      dtype='object')

In [7]:
df_olist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       100000 non-null  object
 1   order_status                   100000 non-null  object
 2   order_products_value           100000 non-null  float64
 3   order_freight_value            100000 non-null  float64
 4   order_items_qty                100000 non-null  int64
 5   order_sellers_qty              100000 non-null  int64
 6   order_purchase_timestamp       100000 non-null  datetime64[ns]
 7   order_approved_at              99982 non-null   datetime64[ns]
 8   order_estimated_delivery_date  100000 non-null  datetime64[ns]
 9   order_delivered_customer_date  97595 non-null   datetime64[ns]
 10  customer_id                    100000 non-null  object
 11  customer_city                  100000 non-null  object
 12  customer_state                 100000 non-null  object
 13  customer_zip_code_prefix       100000 non-null  int64
 14  product_category_name          100000 non-null  object
 15  product_name_length            100000 non-null  int64
 16  product_description_length     100000 non-null  int64
 17  product_photos_qty             100000 non-null  int64
 18  product_id                     100000 non-null  object
 19  review_id                      100000 non-null  object
 20  review_score                   100000 non-null  int64
 21  review_comment_title           8262 non-null    object
 22  review_comment_message         42489 non-null   object
 23  review_creation_date           100000 non-null  datetime64[ns]
 24  review_answer_timestamp        100000 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), datetime64[ns](5), float64(2), int64(7), object(10)
memory usage: 19.1+ MB

In [8]:
df_olist_pay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104848 entries, 0 to 104847
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      104848 non-null  object
 1   installments  104848 non-null  int64
 2   sequential    104848 non-null  int64
 3   payment_type  104848 non-null  object
 4   value         104848 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [9]:
dict_order_installements= dict(zip(df_olist_pay['order_id'],df_olist_pay['installments']))

In [10]:
dict_order_payment_type= dict(zip(df_olist_pay['order_id'],df_olist_pay['payment_type']))

In [11]:
df_olist['installments'] = df_olist['order_id'].map(dict_order_installements)
df_olist['payment_type'] = df_olist['order_id'].map(dict_order_payment_type)
df_olist.columns

Index(['order_id', 'order_status', 'order_products_value',
       'order_freight_value', 'order_items_qty', 'order_sellers_qty',
       'order_purchase_timestamp', 'order_approved_at',
       'order_estimated_delivery_date', 'order_delivered_customer_date',
       'customer_id', 'customer_city', 'customer_state',
       'customer_zip_code_prefix', 'product_category_name',
       'product_name_length', 'product_description_length',
       'product_photos_qty', 'product_id', 'review_id', 'review_score',
       'review_comment_title', 'review_comment_message',
       'review_creation_date', 'review_answer_timestamp', 'installments',
       'payment_type'],
      dtype='object')

In [12]:
df_olist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       100000 non-null  object
 1   order_status                   100000 non-null  object
 2   order_products_value           100000 non-null  float64
 3   order_freight_value            100000 non-null  float64
 4   order_items_qty                100000 non-null  int64
 5   order_sellers_qty              100000 non-null  int64
 6   order_purchase_timestamp       100000 non-null  datetime64[ns]
 7   order_approved_at              99982 non-null   datetime64[ns]
 8   order_estimated_delivery_date  100000 non-null  datetime64[ns]
 9   order_delivered_customer_date  97595 non-null   datetime64[ns]
 10  customer_id                    100000 non-null  object
 11  customer_city                  100000 non-null  object
 12  customer_state                 100000 non-null  object
 13  customer_zip_code_prefix       100000 non-null  int64
 14  product_category_name          100000 non-null  object
 15  product_name_length            100000 non-null  int64
 16  product_description_length     100000 non-null  int64
 17  product_photos_qty             100000 non-null  int64
 18  product_id                     100000 non-null  object
 19  review_id                      100000 non-null  object
 20  review_score                   100000 non-null  int64
 21  review_comment_title           8262 non-null    object
 22  review_comment_message         42489 non-null   object
 23  review_creation_date           100000 non-null  datetime64[ns]
 24  review_answer_timestamp        100000 non-null  datetime64[ns, UTC]
 25  installments                   99998 non-null   float64
 26  payment_type                   99998 non-null   object
dtypes: datetime64[ns, UTC](1), datetime64[ns](5), float64(3), int64(7), object(11)
memory usage: 20.6+ MB

In [13]:
df_olist['order_total_value'] = df_olist['order_products_value'].add(df_olist['order_freight_value'])

In [14]:
df_olist['time_buy_arrive'] = df_olist['order_delivered_customer_date'] - df_olist['order_approved_at']
df_olist['time_buy_arrive'] =(df_olist['time_buy_arrive']).dt.days


df_olist['time_expected_arrive'] = df_olist['order_estimated_delivery_date'] - df_olist['order_approved_at']
df_olist['time_expected_arrive'] =(df_olist['time_expected_arrive']).dt.days
df_olist['diff_real_est_arrival'] = df_olist['time_buy_arrive'] - df_olist['time_expected_arrive']
df_olist

,order_id,order_status,order_products_value,order_freight_value,order_items_qty,order_sellers_qty,order_purchase_timestamp,order_approved_at,order_estimated_delivery_date,order_delivered_customer_date,...,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,installments,payment_type,order_total_value,time_buy_arrive,time_expected_arrive,diff_real_est_arrival
0,b95df3cef5297e79ef709ba256518f6f,delivered,349.90,13.84,1,1,2017-01-31 17:19:01,2017-02-01 02:41:21.549551,2017-03-15,2017-02-06 11:04:24.154259,...,NaN,NaN,2017-02-07,2017-02-09 02:37:37+00:00,1.0,boleto,363.74,5.0,41.0,-36.0
1,59af46052a799e80e2f0c665c587731d,delivered,15.00,15.10,1,1,2017-09-09 19:52:54,2017-09-10 20:03:31.535281,2017-10-02,2017-09-13 20:17:41.296915,...,NaN,entrega em 2 dias produto c boa qualidade otim...,2017-09-14,2017-09-15 03:43:47+00:00,1.0,credit_card,30.10,3.0,21.0,-18.0
2,a3e6136894621db402a772c6bc72a12a,delivered,238.90,18.00,1,1,2017-01-30 17:00:09,2017-01-30 17:31:25.438253,2017-03-07,2017-02-06 15:43:04.758566,...,NaN,produto veio antes do prazo informado muito ob...,2017-02-07,2017-02-10 14:18:53+00:00,10.0,credit_card,256.90,6.0,35.0,-29.0
3,b675ea5a618922f6e679e30531b8957b,delivered,29.99,18.23,1,1,2018-03-11 18:18:36,2018-03-11 18:30:37.931962,2018-04-03,2018-04-03 20:36:43.778451,...,NaN,NaN,2018-04-04,2018-04-05 02:52:31+00:00,4.0,credit_card,48.22,23.0,22.0,1.0
4,195a8be6794c487fe6cfbb97b7c61902,delivered,295.99,47.65,1,1,2017-04-20 08:01:08,2017-04-25 08:05:40.405383,2017-05-24,2017-05-04 18:47:45.721758,...,NaN,NaN,2017-05-05,2017-05-08 15:20:18+00:00,1.0,boleto,343.64,9.0,28.0,-19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,5e0fb4a48b36946c8121f9e03964d9c2,delivered,198.00,91.98,2,1,2017-10-02 20:19:43,2017-10-04 02:43:52.408623,2017-10-31,2017-10-11 16:25:47.945541,...,NaN,show,2017-10-12,2017-10-12 19:53:25+00:00,1.0,boleto,289.98,7.0,26.0,-19.0
99996,138d22c05c5e456f19bdc7dcf09b89aa,delivered,59.00,11.02,1,1,2017-03-22 06:13:55,2017-03-22 06:13:55.000000,2017-04-10,2017-03-31 13:23:12.316309,...,NaN,NaN,2017-04-01,2017-04-04 04:42:58+00:00,1.0,credit_card,70.02,9.0,18.0,-9.0
99997,a97f1478d7e7648bf5bd2af02d1392a7,delivered,119.99,18.09,1,1,2017-06-10 20:12:12,2017-06-10 21:32:48.260831,2017-07-05,2017-06-24 07:26:42.947365,...,NaN,recomendo,2017-06-25,2017-06-27 22:11:50+00:00,3.0,credit_card,138.08,13.0,24.0,-11.0
99998,7212b1926de631a35211dd5b4bd9d77b,delivered,119.99,18.09,1,1,2017-09-12 10:24:08,2017-09-12 10:35:15.542788,2017-10-02,2017-09-19 22:51:55.417806,...,NaN,NaN,2017-09-20,2017-09-25 21:22:57+00:00,1.0,voucher,138.08,7.0,19.0,-12.0
99999,21dd0192970edd37e2a4f39eee973364,delivered,179.90,19.54,1,1,2017-02-18 22:24:21,2017-02-18 22:42:23.800747,2017-03-21,2017-03-01 14:05:06.695182,...,NaN,NaN,2017-03-02,2017-03-03 12:37:15+00:00,12.0,credit_card,199.44,10.0,30.0,-20.0

In [15]:
order_status = df_olist['order_status'].unique()
order_status

array(['delivered', 'canceled', 'shipped', 'invoiced', 'processing',
       'unavailable', 'approved'], dtype=object)

### 1.1 Analisando categorias de produtos

### *1.1 Analysing product categories*

In [29]:
product_category = df_olist['product_category_name'].unique()
product_category = product_category.tolist()
product_category.sort()
product_category

['agro_industria_e_comercio',
 'alimentos',
 'alimentos_bebidas',
 'artes',
 'artes_e_artesanato',
 'artigos_de_festas',
 'artigos_de_natal',
 'audio',
 'automotivo',
 'bebes',
 'bebidas',
 'beleza_saude',
 'brinquedos',
 'cama_mesa_banho',
 'casa_conforto',
 'casa_conforto_2',
 'casa_construcao',
 'cds_dvds_musicais',
 'cine_foto',
 'climatizacao',
 'consoles_games',
 'construcao_ferramentas_construcao',
 'construcao_ferramentas_ferramentas',
 'construcao_ferramentas_iluminacao',
 'construcao_ferramentas_jardim',
 'construcao_ferramentas_seguranca',
 'cool_stuff',
 'dvds_blu_ray',
 'eletrodomesticos',
 'eletrodomesticos_2',
 'eletronicos',
 'eletroportateis',
 'esporte_lazer',
 'fashion_bolsas_e_acessorios',
 'fashion_calcados',
 'fashion_esporte',
 'fashion_roupa_feminina',
 'fashion_roupa_infanto_juvenil',
 'fashion_roupa_masculina',
 'fashion_underwear_e_moda_praia',
 'ferramentas_jardim',
 'flores',
 'fraldas_higiene',
 'industria_comercio_e_negocios',
 'informatica_acessorios',
 'instrumentos_musicais',
 'la_cuisine',
 'livros_importados',
 'livros_interesse_geral',
 'livros_tecnicos',
 'malas_acessorios',
 'market_place',
 'moveis_colchao_e_estofado',
 'moveis_cozinha_area_de_servico_jantar_e_jardim',
 'moveis_decoracao',
 'moveis_escritorio',
 'moveis_quarto',
 'moveis_sala',
 'musica',
 'papelaria',
 'pcs',
 'perfumaria',
 'pet_shop',
 'portateis_casa_forno_e_cafe',
 'relogios_presentes',
 'seguros_e_servicos',
 'sinalizacao_e_seguranca',
 'tablets_impressao_imagem',
 'telefonia',
 'telefonia_fixa',
 'utilidades_domesticas']

### 1.1.1 Verificando diferen√ßas entre 'casa_conforto' e 'casa_conforto_2' & 'eletrodomesticos' e 'eletrodomesticos_2'

In [22]:
product_category = df_olist['product_category_name'].unique()
product_category

product_category_value = ['beleza_saude', 'informatica_acessorios', 'automotivo',
       'cama_mesa_banho', 'moveis_decoracao', 'esporte_lazer',
       'perfumaria', 'utilidades_domesticas', 'telefonia',
       'relogios_presentes', 'alimentos_bebidas', 'bebes', 'papelaria',
       'tablets_impressao_imagem', 'brinquedos', 'telefonia_fixa',
       'ferramentas_jardim', 'fashion_bolsas_e_acessorios',
       'eletroportateis', 'consoles_games', 'audio', 'fashion_calcados',
       'cool_stuff', 'malas_acessorios', 'climatizacao',
       'construcao_ferramentas_construcao',
       'moveis_cozinha_area_de_servico_jantar_e_jardim',
       'construcao_ferramentas_jardim', 'fashion_roupa_masculina',
       'pet_shop', 'moveis_escritorio', 'market_place', 'eletronicos',
       'eletrodomesticos', 'artigos_de_festas', 'casa_conforto',
       'construcao_ferramentas_ferramentas', 'agro_industria_e_comercio',
       'moveis_colchao_e_estofado', 'livros_tecnicos', 'casa_construcao',
       'instrumentos_musicais', 'moveis_sala',
       'construcao_ferramentas_iluminacao',
       'industria_comercio_e_negocios', 'alimentos', 'artes',
       'moveis_quarto', 'livros_interesse_geral',
       'construcao_ferramentas_seguranca',
       'fashion_underwear_e_moda_praia', 'fashion_esporte',
       'sinalizacao_e_seguranca', 'pcs', 'artigos_de_natal',
       'fashion_roupa_feminina', 'eletrodomesticos',
       'livros_importados', 'bebidas', 'cine_foto', 'la_cuisine',
       'musica', 'casa_conforto', 'portateis_casa_forno_e_cafe',
       'cds_dvds_musicais', 'dvds_blu_ray', 'flores',
       'artes_e_artesanato', 'fraldas_higiene',
       'fashion_roupa_infanto_juvenil', 'seguros_e_servicos']

category_dict = dict(zip(product_category,product_category_value))

df_olist['product_category_name'] = df_olist['product_category_name'].map(category_dict)

63

### 2. EDA